@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Azonix;
  src: url("../src/static/fonts/Azonix.otf") format("opentype");
}
a {
  text-decoration: none;
}
.maven {
  font-family: "Maven Pro", sans-serif;
}
.azonix {
  font-family: Azonix;
}

body {
  font-family: "Maven Pro", sans-serif;
  background-color: #0d1f19;
}

.wrapper {
  background-image: url("../src/static/images/BACKGROUND\ DAPP\ CS\ 2022.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.tab-buttons {
  margin-bottom: 50px;
}

button {
  margin-right: 15px;
  font-size: 20px;
  background: transparent;
  border: none;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  color: #707176;
  transition: all ease-in-out 0.2s;
  /* border-bottom: 2px solid transparent; */
  font-weight: 700;
}
.active {
  color: #ffffff;
  border: 0px;
  border-bottom: 2px solid;
  border-image: linear-gradient(
    90deg,
    rgba(193, 209, 23, 1) 0%,
    rgba(0, 166, 90, 1) 50%,
    rgba(60, 111, 102, 1) 100%
  );
  border-image-slice: 1;
  color: white;
  margin: auto;
  text-decoration: none;
}

@media screen and (max-width: 610px) {

  button {
    margin-right: 15px;
    font-size: 16px;
    background: transparent;
    border: none;
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
    color: #707176;
    transition: all ease-in-out 0.2s;
    /* border-bottom: 2px solid transparent; */
    font-weight: 700;
  }
}